body{
  font-family: Arial, Verdana;
}
          
h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
}

h2{
  font-family: Georgia;
  font-size: 24px;
  font-style: oblique;
}

span{
  font-size: 40px;
}